@using Marketplace.Dependencies;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";


}

<body>
    <div>
        <form method="post">
            <div class="form-group">
                <div class="col-sm-3 my-1">
                    <label for="desiredProductId">Поиск товаров</label>
                    <input name="desiredProduct" type="text" class="form-control" id="desiredProductId" aria-describedby="emailHelp" placeholder="Поиск по товарам">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    @{
        if (IsPost)
        {
            var titleProduct = Request["desiredProduct"];

            var productsList = DependencyResolver.Instance.ProductsLogic.GetProductsByTitle(titleProduct);

            //TODO проверку

            if (productsList.Count != 0)
            {

                <table class="table, col-sm-10 my-1">
                    <tr>
                        <th>Наименование товара</th>
                        <th>Цена</th>
                        @{
                            if (User.IsInRole("admin"))
                            {
                                <th>Id</th>
                            }
                        }
                    </tr>
                    @{

                        foreach (var item in productsList)
                        {
                            <text>
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Price</td>
                                    @{
                                        if (User.IsInRole("admin"))
                                        {
                                            <td>@item.Id</td>
                                        }
                                    }

                                    <td>
                                        <form action="~/Pages/Catalog/BuyingPageDo" method="post" role="form">
                                            <input type="hidden" value=@item.Id id="BuyingProductId" name="BuyingProductId">
                                            <button type="submit" id="BuyingProduct" name="BuyingProduct" class="btn btn-warning btn-group-xs"><i class="glyphicon glyphicon-edit">Добавить в корзину</i></button>
                                        </form>
                                    </td>

                                    @{
                                        if (User.IsInRole("admin"))
                                        {

                                            <td>
                                                <form action="~/Pages/Products/EditingProductPage" method="post" role="form">
                                                    <input type="hidden" value=@item.Id id="EditingProductId" name="EditingProductId">
                                                    <button type="submit" id="EditingProduct" name="EditingProduct" class="btn btn-warning btn-group-xs"><i class="glyphicon glyphicon-edit">Редактировать</i></button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="~/Pages/Users/RemoveUserPage" method="post" role="form">
                                                    <input type="hidden" value=@item.Id id="DeletingUserId" name="DeletingUserId">
                                                    <button type="submit" id="DeleteUser" name="DeleteUser" class="btn btn-danger btn-group-xs"><i class="glyphicon glyphicon-remove">Удалить</i></button>
                                                </form>
                                            </td>
                                        }
                                    }
                                </tr>
                            </text>
                        }

                    }
                </table>
            }
            else
            {
                <div>К сожалению данного товара нет в наличии</div>
            }
        }
    }
</body>
