@using Marketplace.Entities;
@using Marketplace.Dependencies;
@using NLog;

@{
    Logger logger = LogManager.GetCurrentClassLogger();

    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    PageData["Title"] = "Каталог товаров";
}

<body>

    <table class="table, col-sm-10 my-1">
        <tr>
            <th>Наименование товара</th>
            <th>Цена</th>
        </tr>
        @{
            List<Marketplace.Entities.Product> productsList = new List<Marketplace.Entities.Product>();

            try
            {
                productsList = DependencyResolver.Instance.ProductsLogic.GetAllProducts();
            }
            catch (Exception e)
            {

                logger.Error(e.Message);
            }

            foreach (var item in productsList)
            {
                <text>
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Price</td>

                        <td>
                            <form action="~/Pages/Catalog/BuyingPageDo" method="post" role="form">
                                <input type="hidden" value=@item.Id id="BuyingProductId" name="BuyingProductId">
                                <button type="submit" id="BuyingProduct" name="BuyingProduct" class="btn btn-warning btn-group-xs"><i class="glyphicon glyphicon-edit">Добавить в корзину</i></button>
                            </form>
                        </td>

                        @{
                            if (User.IsInRole("admin"))
                            {

                                <td>
                                    <form action="~/Pages/Products/EditingProductPage" method="post" role="form">
                                        <input type="hidden" value=@item.Id id="EditingProductId" name="EditingProductId">
                                        <button type="submit" id="EditingProduct" name="EditingProduct" class="btn btn-warning btn-group-xs"><i class="glyphicon glyphicon-edit">Редактировать</i></button>
                                    </form>
                                </td>
                                <td>
                                    <form action="~/Pages/Products/DeletingProductPageDo" method="post" role="form">
                                        <input type="hidden" value=@item.Id id="DeletingProductId" name="DeletingProductId">
                                        <button type="submit" id="DeletingProduct" name="DeletingProduct" class="btn btn-danger btn-group-xs"><i class="glyphicon glyphicon-remove">Удалить</i></button>
                                    </form>
                                </td>
                            }
                        }
                    </tr>
                </text>
            }
        }
    </table>

    @{
        if (User.IsInRole("admin"))
        {
            <button id="AddingProductBtn" type="submit" class="btn btn-primary"> Добавить товар </button>
        }
    }


</body>

<script>
    $('#BackBtn').click(function () {
        location.href = '/Index';
    })
</script>

<script>
    $('#AddingProductBtn').click(function () {
        location.href = '/Pages/Products/AddingProductPage';
    })
</script>
