@using Marketplace.Dependencies;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        //список лоигинов покупателей
        //кнопка удалить на против каждого из них

        кнопка перехода на маркетПейдж для возможности добавления/редактировать/удаления продуктов из списка

        //вот вопрос - у как удалять продукт, если он уже в корзине? (не повезло покупателю и удалить и из корзины? - так бывает..)

    </div>
    <table class="table">
        <tr>
            <th>Login</th>
            <th>--</th>
            @*<th>DayOfBirth</th>
                <th>Age</th>*@
            <th>----</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @{

            var buyersList = DependencyResolver.Instance.BuyresLogic.GetAllBuyers();

            foreach (var item in buyersList)
            {
                <text>
                        <tr>
                            <td>@item.Login </td>
                            <td>@{ 
                                foreach (var role in DependencyResolver.Instance.BuyersRolesLogic.GetRolesOfBuyer(item.Login))
                                {
                                    @role;@: 
                                }
                            }
                            </td>
                            <td>--</td>

                            @{
                                //if (User.IsInRole("admin"))
                                if (true)
                                {
                                    <td>
                                        <form action="~/Pages/Admin/BuyerDeletingPageDo" method="post" role="form">
                                            <input type="hidden" value=@item.Id id="DeletingBuyerId" name="DeletingBuyerId">
                                            <button type="submit" id="DeletingBuyer" name="DeletingBuyer" class="btn btn-danger btn-group-xs"><i class="glyphicon glyphicon-remove"></i>Delete</button>
                                        </form>
                                    </td>
                                    <a href="~/Pages/Admin/AddingAdminRolePageDo.cshtml">~/Pages/Admin/AddingAdminRolePageDo.cshtml</a>
                                    <td>
                                        <form action="~/Pages/Admin/AddingAdminRolePageDo" method="post" role="form">
                                            <input type="hidden" value=@item.Login id="AddingAdminRoleLogin" name="AddingAdminRoleLogin">
                                            <button type="submit" id="AddingAdminRole" name="AddingAdminRole" class="btn btn-danger btn-group-xs"><i class="glyphicon glyphicon-remove"></i>Add admin Role</button>
                                        </form>
                                    </td>

                                }
                            }
                        </tr>
                </text>
            }
        }
    </table>

</body>
</html>
