@using Marketplace.Dependencies;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var buyerData = DependencyResolver.Instance.BuyresLogic.GetBuyerData(HttpContext.Current.User.Identity.Name);

}

@*<script src="~/Scripts/validatorDate.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>

//TODO не переходить на страницу DO, а выполнить тут же с предупреждением

<form action="~/Pages/Buyers/PersonalAccountEditPageDo" method="post" role="form" id="EditForm">
    <div class="form-group">
        <div class="col-sm-3 my-1">
            <label for="UpdatingBuyerName" class="control-label">Имя покупателя: </label>
            <input type="text" value="@buyerData.Name" id="UpdatingBuyerName" name="UpdatingBuyerName" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 my-1">
            <label for="UpdatingBuyerSurname" class="control-label">Фамилия покупателя: (не работает)</label>
            <input type="text" value="@buyerData.Surname" id="UpdatingBuyerSurname" name="UpdatingBuyerSurname" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 my-1">
            <label for="UpdatingBuyerDoB" class="control-label">Дата рождения: (не работает)</label>
            <input type="text" value="@buyerData.DoB.ToShortDateString()" id="UpdatingBuyerDoB" name="UpdatingBuyerDoB" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 my-1">
            <label for="UpdatingBuyerEmail" class="control-label">Email: (не работает)</label>
            <input type="text" value="@buyerData.Email" id="UpdatingBuyerEmail" name="UpdatingBuyerEmail" class="form-control">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Обновить данные</button>
</form>

@*<script>
    $("#EditForm").validate({
        onkeyup: true,
        //onfocusout: false, //DOTO поэкспериментировать
        //onkeyup: false,
        //onclick: false,
        //onsubmit: false
        rules: {
            UpdatingBuyerDoB: {
                required: true,
                // email: true
                Date
            },
            UpdatingBuyerEmail: {
                required: true,
                //minlength: 4
            }

        },
        messages: {
            UpdatingBuyerDoB: {
                date: "Please enter a valid date.",
            },
            UpdatingBuyerEmail: {
                required: "Поле \"Пароль\" обязательно для заполнения",
                minlength: jQuery.validator.format("Длина пароля должна быть не менее 4-х символов")
            }
        }
    });
</script>*@

