@using Marketplace.Entities;
@using Marketplace.Dependencies;
@using NLog;

@{
    Logger logger = LogManager.GetCurrentClassLogger();

    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    List<ProductInCart> productList = new List<ProductInCart>();

    try
    {
        productList = DependencyResolver.Instance.BuyersProductsLogic.GetProductsInCart(HttpContext.Current.User.Identity.Name);
    }
    catch (Exception e)
    {

        logger.Error(e.Message);
    }
}

<body>

    @{
        if (productList.Count != 0)
        {
            <table class="table">
                <tr>
                    <th>Товары в корзине</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                @{
                    foreach (var item in productList) //через проверку, иначе "Ваша корзина пуста" и кнопку "К покупкам"
                    {
                        <text>
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Count</td>

                                @{
                                    //if (User.IsInRole("admin"))
                                    {
                                        <td>
                                            <form action="~/Pages/Buyers/RemovingProductFromCartDo" method="post" role="form">
                                                <input type="hidden" value=@item.Id id="RemovingProductId" name="RemovingProductId">
                                                <button type="submit" id="RemoveProduct" name="RemoveProduct" class="btn btn-danger btn-group-xs"><i class="glyphicon glyphicon-remove"> Убрат из корзины</i></button>
                                            </form>
                                        </td>
                                    }
                                }
                            </tr>
                        </text>
                    }
                }
            </table>

            <div>
                <form action="~/Pages/Buyers/MakingAPurchasePageDo" method="post" role="form">
                    <button type="submit" id="RemoveProduct" name="RemoveProduct" class="btn btn-danger btn-group-xs"><i class="glyphicon glyphicon-remove"> Оформить заказ</i></button>
                </form>
            </div>
        }
        else
        {
            <div>Ваша корзина пуста</div>
        }
    }

</body>
