@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Произошла ошибка</h2>
        <a href="~/Index.cshtml">~/Index.cshtml</a>
    </div>
</body>
</html>
