@using Marketplace.Dependencies;
@using NLog;

@{
    Logger logger = LogManager.GetCurrentClassLogger();

    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    PageData["Title"] = "Стартовая страница";

    int idUser = 0;

    string nameUser = null;

    string loginStr = HttpContext.Current.User.Identity.Name;

    List<string> rolesList = new List<string>();

    try
    {
        rolesList = DependencyResolver.Instance.BuyersRolesLogic.GetRoles(loginStr);
    }
    catch (Exception e)
    {
        logger.Error(e.Message);

        Response.Redirect("~/ErrorPages/ErrorPage", false);
    }

}

<link href="~/Content/task_8.1-style.css" rel="stylesheet" />

<div class="content">

    @{
        if (User.Identity.IsAuthenticated)
        {
            <p>Вы зашли под Login: @loginStr</p>
            <p>
                Вам доступны следующие права:
                @{
                    foreach (var role in rolesList)
                    {
                        @role@:
                    }
                }
            </p>

        }
        else
        {
            <div class="shadow" style="height: auto; width: 512px; margin: auto; background-color: #5a8988; font-size: 22px; color: White;" align="center">
                <p>
                    Приветствуем Вас!
                </p>

                <p>
                    Вы можете зарегистрироваться или Войти, воспользовавшись следующими данными: <br>
                    Login: Viktor <br>
                    Pass: 1234 <br>
                    (будут выданы права "user") <br>
                    <br>
                    или<br>
                    <br>
                    Login: admin <br>
                    Pass: 1234 <br>
                    (будут выданы права "admin" и "user") <br>
                </p>
            </div>
        }
    }
</div>