{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

/*[class*=container] {
    border: 1px solid #ccc;
}*/
 /*DOTO при уменьшении размеров экрана кнопки выходят за границы*/

.mycontainer {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 350px 150px;
    /*grid-template-rows: 30% 800% 30%;*/
    /*max-width: 100%;*/
    grid-template-areas:
        "h h h h h h h h h h a a"
        "m m c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    height: 150px;
    padding-left: 20px;
    padding-top: 20px;
}

.auth {
    grid-area: a;
    /*margin: 10px 10px 10px 10px;*/
    height: 150px;
    width: 100%;
    margin-right: 30%;
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
    position: fixed;
    height: 25px;
    width: 100%;
    background: green;
    bottom: 0;
}
