
@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

}

<h2>перешел</h2>

<button id="counterBtn" type="submit" class="btn btn-primary">Go to IndexS!</button>

<script>
    $('#counterBtn').click(function () {
        location.href = '/Index';
    })
</script>

