body {
    background-color: #4e627a;
}

.main {
    background-color: #ffffff;
    width: 600px;
    border-radius: 5px;
    margin: auto;

    font-family: Arial, Helvetica, sans-serif;

    box-shadow: 0px 20px 40px -20px black;
    padding: 5px;
    font-weight: bold;
}

.main div:last-child {
    box-shadow: none;
  }

.column {
    display: inline-block;
    width: 197px;
    background-color: #ffffff;
    box-shadow: inset -1px 0 0 #dddddd;
}

button {
    background-color: #f56330;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    margin: 4px 0px 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5%;
}

.description {
    color: #f0753c;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
}

.img {
    padding: 0;
     position: relative;
    width: 64px;
    height: 64px;
    background: #c2c2c2;
    display: block;
    margin: auto;
}

.price {
    font-family: Light 300;
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px;
}