@using WebMarketplace.Models;
@using Marketplace.Dependencies;
@using NLog;

@{
    Logger logger = LogManager.GetCurrentClassLogger();

    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    PageData["Title"] = "Регистрация";

    if (IsPost)
    {
        var login = Request["login"];
        var pass = Request["pass"];

        try
        {
            if (DependencyResolver.Instance.BuyresLogic.GetIdBuyer(login) == 0)
            {
                DependencyResolver.Instance.BuyresLogic.AddBuyer(login, pass);
                DateTime date = new DateTime(1900, 1, 1);
                DependencyResolver.Instance.BuyresLogic.AddBuyerData(login, "", "", date, "");
                DependencyResolver.Instance.BuyersRolesLogic.AddRoleForBuyer(login);

                <div class="col-sm-3 my-1">
                    <div class="alert alert-success" role="alert">
                        Пользователь успешно зарегистрирован!!!
                    </div>
                </div>

            }
        }
        catch (Exception e)
        {
            logger.Error(e.Message);

            Response.Redirect(Request.UrlReferrer.ToString(), false);
        }

    }

}

<form method="post">
    <div class="form-group">
        <div class="col-sm-3 my-1">
            <label for="exampleInputEmail1">Введите логин</label>
            <input name="login" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Зарегистрировать">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 my-1">
            <label for="exampleInputPassword1">Пароль</label>
            <input name="pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
</form>