@using WebMarketplace.Models;
@using Marketplace.Dependencies;
@using NLog;

@{
    Logger logger = LogManager.GetCurrentClassLogger();

    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    PageData["Title"] = "Добавление товаров";


    if (IsPost)
    {
        var title = Request["title"];

        var priceProduct = Request["priceProduct"];
        int price;

        if (!int.TryParse(priceProduct, out price))
        {
            logger.Warn("Price transmission error");
            Response.Redirect(Request.UrlReferrer.ToString(), false);
        }

        try
        {
            DependencyResolver.Instance.ProductsLogic.AddProduct(title, price);
        }
        catch (Exception e)
        {

            logger.Error(e.Message);
        }

        <div class="col-sm-3 my-1">
            <div class="alert alert-success" role="alert">
                Товар успешно добавлен.
            </div>
        </div>
    }

}


<form method="post">
    <div class="form-group">
        <div class="col-sm-3 my-1">
            <label for="titleOfNewProduct">Название товара</label>
            <input name="title" type="text" class="form-control" id="titleOfNewProduct" placeholder="Название товара">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 my-1">
            <label for="priceOfNewProduct">Password</label>
            <input name="priceProduct" type="text" class="form-control" id="priceOfNewProduct" placeholder="Цена" value="0">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Добавиь</button>
</form>