@using Marketplace.Dependencies;
@using Marketplace.Entities;
@using NLog;

@{
    Logger logger = LogManager.GetCurrentClassLogger();

    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var editingProductId = Request["EditingProductId"];
    int idProduct;

    Product product = new Product();

    if (!int.TryParse(editingProductId, out idProduct))
    {
        logger.Warn("idProduct transmission error");
        Response.Redirect(Request.UrlReferrer.ToString());
    }

    try
    {
        product = DependencyResolver.Instance.ProductsLogic.GetProductById(idProduct);
    }
    catch (Exception e)
    {

        logger.Error(e.Message);
    }


}

<form action="~/Pages/Products/EditingProductPageDo" method="post" role="form">
    <input type="hidden" value=@product.Id id="UpdatingProductId" name="UpdatingProductId">
    <div class="form-group">
        <div class="col-sm-3 my-1">
            <label for="UpdatingProductTitle" class="control-label">Наименование товара:</label>
            <input type="text" value="@product.Title" id="UpdatingProductTitle" name="UpdatingProductTitle" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 my-1">
            <label for="UpdatingProductPrice" class="control-label">Фамилия покупателя: (не работает)</label>
            <input type="text" value="@product.Price" id="UpdatingProductPrice" name="UpdatingProductPrice" class="form-control">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Обновить данные</button>
</form>